<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>https://apps.apple.com/app/6747164323</string>
	<key>adapty</key>
	<string>public_live_VElAnZ2z.T5NDozV6ihq8BL4JUoPH</string>
	<key>email</key>
	<string>mandyagness@outlook.com</string>
	<key>privacy</key>
	<string>https://telegra.ph/Invoice-Privacy-06-11</string>
	<key>terms</key>
	<string>https://telegra.ph/Invoice-Terms-06-11</string>
</dict>
</plist>
